<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.essenty.predictiveproxy">
    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="35" />
    <application android:hasCode="false" android:enableOnBackInvokedCallback="true">
        <activity android:name="android.app.NativeActivity" android:exported="true">
            <meta-data android:name="android.app.lib_name" android:value="essenty_predictive_proxy_poc" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
